@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', cursive;
    box-sizing: border-box;
}

body {
    background: #006aa8;
}

/*  header, background and text */

.header-background {
    display: block;
    height: 150px;
    position: relative;
    background-color: #fdcc00;
}

.header-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #333;
}