@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', cursive;
    box-sizing: border-box;
}

body {
    background: #006aa8;
}

/*  header, background and text */

.header-background {
    display: block;
    height: 150px;
    position: relative;
    background-color: #fdcc00;
}

.header-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #333;
}

/*  Game area */

.game-area {
    background: #fff;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 150px;
    border: 5px solid #fdcc00;
    border-radius: 10px;
    padding: 30px;
}

.game-area h1 {
    font-size: 22px;
    color: #333;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}

.quiz h2 {
    font-size: 18px;
    color: #333;
}

#question {
    padding: 20px;
}

/*  Buttons */

.btn {
    background: #fff;
    color: #333;
    font-size: 14px;
    width: 100%;
    border: 1.8px solid #006aa8;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

#next-btn {
    background: #fdcc00;
    color: #333;
    font-size: 16px;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}